
Requirements

Coaching Events is a mini social network for communicate coach with their followers, with the objective than they go to their conferences, like an event social network, need to be possible list the events, than on the creation moment required a date, type and location. 

The coach need to have a page where can edit, delete and obviously add an event to the list.

The followers and lovers of this kind of events, can follow their favorites coachs, and receive a notification when their favorites coach add or modify an event.
Users need to have the possibility to search upcoming events by coach, type and location to add it to their activity calendar.
When the user follow an coach their upcoming events need to be visible on his feed.

--
The color need to represend happiness, sunshine and fun for that reason was choseen #FF4342.
---
The events need to be showed as a calendar (with the form of it).

_Autentication
(done)	Sign Up					***		
(done)	Login					***
(done)	Log Out					*
	Change Password				*
	Edit profile				*

_Events
(done)	Add an Event				***
(done)	My upcoming events			*
(done)	Edit an Event				*
(done)	Delete an Event (Cancel)		*
(done)	View all upcoming events		**
(done)	Search Events				*
(done)	View Events Details			*

_Calendar
(done)	Add Event to a Calendar			***
	Remove Event From calendar		*
(done)	View Events than I’m attending for	**

_Following
(done)	Follow a Coach				***
	Unfollow a Coach			*
(done)	Who I’m following			**
	Event feed based on who I’M following 	*

-------------------
--Domain/Database--
-------------------

_Event		Its the core of our project and its what we want to create
----------------
Coach 		User than create the event.
DateTime	Date and Time than will occurs the event
Type		
Venue-Address	The place where its going to happend the event.
Latitude
Longitude
MaxCapacity	Max capacity for restricted events
----------------
----------------

_Type 		Its the table than its going to store the type of event than I can create, eg: Talk, 		Motivational, etc.
----------------
Name		
----------------
----------------

_Following	Its the table than represent the list of coach than I (registered user) can follow.
----------------
Follower 	Is the person who follow a coach.
Followee	Is the coach who its been followed.
----------------
----------------

_Attendance	Its the table to store the event than i want to attendance or the one than i want to go.
----------------
Event
Attendee	The user than want to go to that event.
----------------
----------------

 




