@model EcCoach.Web.ViewModels.EventsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Search">
    <div class="form-group">
        <div id="searchEvents" class="input-group">
            <input asp-for="SearchTerm" class="form-control"
                   placeholder="Enter a search tearm by Venue or Coach" />
            <span class="input-group-addon"> <i class="fas fa-search-location fa-2x"></i> </span>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
@Model.Heading
<br />
<br />

@await Html.PartialAsync("_EventsPartial", Model)


@section scripts {
    <script>
        $(document).ready(function () {

            EventsController.init();

        });
    </script>
}
