@model EventViewModel


@{
    ViewData["Title"] = "Create";
}

@ViewBag.Msg

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Venue">  </label>
        <input asp-for="Venue" class="form-control" placeholder="Enter a Venue">
    </div>
    <div class="form-group">
        <label asp-for="Date">  </label>
        <input asp-for="Date" class="form-control" placeholder="Enter a Venue">
    </div>
    <div class="form-group">
        <label asp-for="Time">  </label>
        <input asp-for="Time" class="form-control" placeholder="Enter a Venue">
    </div>
    <div class="form-group">
        <label asp-for="TypeId">  </label>
        <select asp-for="TypeId"
                asp-items="@ViewBag.TypeList"
                class="form-control"></select>

    </div>
    <button class="btn btn-primary" type="submit">
        Save
    </button>


</form>

