@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @ViewBag.Msg

        <h1 class="display-4"> Coach</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
