@model  IEnumerable<Event>

@{
    ViewData["Title"] = "Home Page";
}

    <ul class="events">
        @foreach (var item in Model)
        {
        <li>


            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="coach">
                    @item.Coach.Name
                </span>
                <span class="type">
                    @item.Type.Name
                </span>
            </div>


        </li>
                 
        }
    </ul>
